@import "tailwindcss";

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.active-link::after{
    width: 50%;
}

.active-tab{
    display: block;
    height: 150px;
}

nav .fas{
    display: none;
}

@media only screen and (max-width: 600px) {

    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}
@media only screen and (max-width: 1023px) {
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}

.loadicon{
    animation: fade 2s infinite ease-in-out;
}

body{
    overflow: hidden;
} 
body.scroll{
    overflow: scroll;
}
@keyframes fade{
    0%,100%{
        transform:  scale(1); opacity: 1;
}
    50%{
        transform: scale(1.3); opacity: 0.7;
    }
}